body {
  padding: 25px;
  background: #3d3d3d;
  background-image: radial-gradient(circle at 20% 30%, #222222 0%, rgba(7, 8, 10, 0.612) 95%);
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.page-icon {
  width: 500px;
  height: 700px;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  background: radial-gradient(circle at 30% 25%, #2c3e5c, #0e1622);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255,255,255,0.1);
  border: 1px solid #3f4a66;
  float: left;
}

.menu-image:hover{
  transform: scale(1.05);
}

.menu-image {
  position: relative;
  display: inline-block;
  margin-right: 5%;

}

.text-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  text-decoration: none;
  z-index: 1;
  white-space: nowrap;
}